@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background font-body-font text-primary-text;
  }
}

@font-face {
  font-family: 'Pokemon Hollow';
  src: url('/public/fonts/PokemonHollow.ttf') format('truetype');
  font-display: swap;
}

@keyframes spin-open {
  0% { transform: rotate(0deg) scale(1); opacity: 1; }
  50% { transform: rotate(180deg) scale(1.1); opacity: 1; }
  100% { transform: rotate(360deg) scale(1.2); opacity: 0; }
}
.pokedex-blend {
  mix-blend-mode: multiply;
  background-blend-mode: multiply;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: #EF4444; }
}

.typing-animation {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid #EF4444;
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .75s step-end infinite;
}